.main-container {
    max-height: 80vh; /* El modal no será más alto que el 80% de la altura de la ventana */
    overflow-y: auto;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.body-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    padding: 5px 0;
    max-height: 50vh;
}

.body-container label {
    font-weight: bold;
    flex: 1; /* Controla el ancho del label */
    text-align: left;
    flex-basis: 150px;
}

.body-container p {
    flex: 2; /* Controla el ancho del contenido */
    text-align: left;
    margin: 0;
}

