/* Estilos generales */
.main-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.email-main-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.email-main-container  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .email-main-container p {
    font-size: 14px;
    color: #333;
    

  }
  
  .email-main-container  .input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .email-main-container button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
  
  .email-main-container  button:disabled {
    background-color: gray;
  }
  
  .email-main-container  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Estilo del enlace para reenviar código */
  .email-main-container p button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
  }
  
  .email-main-container  p button:hover {
    text-decoration: none;
  }

#send-info-button {
    margin-bottom: 2rem;
}