

.main-container {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
  }

  .title-container {
    text-align: center; /* Centrar texto */
    margin-bottom: 20px; /* Separación inferior opcional */
  }
  
  .body-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-direction: column; /* Apilar contenido si hay varios elementos */
    gap: 10px; /* Espacio entre los botones u otros elementos */
  }

  .btn-edit {
    background-color: #00c718; 
    color: #ffffff; /* Color del texto */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-edit:hover {
    background-color: greenyellow; /* Azul más oscuro al pasar el ratón */
  }
  
  .btn-delete {
    background-color: #dc3545; /* Color rojo */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-delete:hover {
    background-color: #a71d2a; /* Rojo más oscuro al pasar el ratón */
  }

  #confirmed-icon {
    color: green;
    width: 7rem;
    height: 7rem;

  }

  .navegation-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown {
    padding-right: 2.5rem;
  }

  .navegation-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que el dropdown esté a la derecha */
    width: 100%;
  }
  
  .navegation-main-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre los elementos */
  }

.table-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

  #gear-icon {
    width: 1.5rem;
    height: 1.5rem;
  }


/* ✅ Para móviles (pantallas pequeñas: menos de 768px) */
@media screen and (max-width: 768px) {
  .table-container {
    padding-left: 0;
    padding-right: 0;
  }
}
  
  
  