/* From Uiverse.io by SteveBloX */ 
.card {
    box-sizing: border-box;
    width: 16rem;
    height: 20rem;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid #232F3E;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.ship-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los div hijos */
    align-items: center;    /* Centra verticalmente los div hijos */
    gap: 5rem;
    margin-top: 3rem;
    
}

.image-ship {
    height: 250px;
    width: 240px;
}


